body {
	font-size:15px;
}
	
.kitrino {
	color:yellow;
	background-color:blue;
}
	
#allo {
	background-color:red;
}
	
span {
	background-color:green;
}
	
.klasi {
	background-color:black;
}
	
#myid {
	background-color:purple;
	background-color:pink;
}
	